{{ ansible_managed | comment(decoration="# ") }}

server {
    listen {{ item.listen_port }}{% if item.protocol == 'udp' %} udp{%endif%};

    error_log /var/log/nginx/{{ item.name }}.log;

    {% if host.active_healthcheck is defined and host.active_healthcheck.enabled %}
    health_check{% if item.protocol == 'udp' %} udp{%endif%};

        {% if host.active_healthcheck.timeout is defined %}
    health_check_timeout {{ host.active_healthcheck.timeout }}s; # Default is 5s

        {% endif %}
    {% endif %}
    proxy_pass {{ item.name|replace(".", "_")|replace("/", "_") }}_backend;
}
