{% macro auth(host) %}
{% if (nginx_use_htpasswd is defined and nginx_use_htpasswd and host.auth is defined and host.auth) or host.allowed_domains is defined %}
satisfy any;
    {% if host.allowed_domains is defined %}
        {% for domain in host.allowed_domains %}
allow   {{ domain }};
        {% endfor %}
    {% endif %}
deny    all;

    {% if nginx_use_htpasswd is defined and nginx_use_htpasswd and host.auth is defined and host.auth %}
auth_basic "Private page";
auth_basic_user_file /etc/nginx/.htpasswd;
    {% endif %}
{% endif %}
{% endmacro %}

{% macro ssl_block(host_name, ssl_config) %}
ssl_certificate         /etc/letsencrypt/live/{{ host_name }}/fullchain.pem;
ssl_certificate_key     /etc/letsencrypt/live/{{ host_name }}/privkey.pem;

# verify chain of trust of OCSP response using Root CA and Intermediate certs
ssl_trusted_certificate /etc/letsencrypt/live/{{ host_name }}/chain.pem;

{{ ssl_config }}
{% endmacro %}
