{% macro auth(host) %}
{% if (nginx_use_htpasswd is defined and nginx_use_htpasswd and host.auth is defined and host.auth) or host.allowed_domains is defined %}
satisfy any;
    {% if host.allowed_domains is defined %}
        {% for domain in host.allowed_domains %}
allow   {{ domain }};
        {% endfor %}
    {% endif %}
deny    all;

    {% if nginx_use_htpasswd is defined and nginx_use_htpasswd and host.auth is defined and host.auth %}
auth_basic "Private page";
auth_basic_user_file /etc/nginx/.htpasswd;
    {% endif %}
{% endif %}
{% endmacro %}

{% macro ssl_block(host_name, ssl_config) %}
ssl_certificate         /etc/letsencrypt/live/{{ host_name }}/fullchain.pem;
ssl_certificate_key     /etc/letsencrypt/live/{{ host_name }}/privkey.pem;

# verify chain of trust of OCSP response using Root CA and Intermediate certs
ssl_trusted_certificate /etc/letsencrypt/live/{{ host_name }}/chain.pem;

{{ ssl_config }}
{% endmacro %}

{% macro locations(host) %}
{% if host.redirect is defined %}
return {{ host.redirect.http_code | default(301) }} {{ host.redirect.url }};
{% elif host.passes is defined %}
    {% for pass in host.passes %}
        {% if pass.location is defined %}
location {{ pass.location }} {
        {% else %}
location / {
        {% endif %}
        {% if pass.proxy_headers is defined %}
            {% for header in pass.proxy_headers %}
    proxy_set_header {{ header.name }} {{ header.value }};
            {% endfor %}
        {% endif %}
        {% if pass.other_proxy_attributes is defined %}
            {% for attr in pass.other_proxy_attributes %}
    {{ attr.name }} {{ attr.value }};
            {% endfor %}
        {% endif %}
    proxy_pass {{ pass.upstream }};
}
    {% endfor %}
{% elif host.load_balance is defined %}
    {% if host.location is defined %}
location {{ host.location }} {
    {% else %}
location / {
    {% endif %}
    {% if host.proxy_headers is defined %}
        {% for header in host.proxy_headers %}
    proxy_set_header {{ header.name }} {{ header.value }};
        {% endfor %}
    {% endif %}
    {% if host.other_proxy_attributes is defined %}
        {% for attr in host.other_proxy_attributes %}
    {{ attr.name }} {{ attr.value }};
        {% endfor %}
    {% endif %}

    proxy_http_version 1.1;
    proxy_set_header Connection "";

    proxy_pass {{ host.load_balance.protocol }}://{{ host.name|replace(".", "_")|replace("/", "_") }}_backend{{ host.load_balance.path | default('/') }};
}
{% else %}
root /srv/http/{{ host.name }};
{% endif %}

{% if host.headers is defined %}
    {% for header in host.headers %}
add_header {{ header.name }} {{ header.value }};
    {% endfor %}
{% endif %}

{% if host.index_pages is defined %}
index {{ host.index_pages }};
{% else %}
index index.html index.htm;
{% endif %}
{% endmacro %}
