{{ ansible_managed | comment(decoration="# ") }}

{% import 'macros/server.j2' as server_macro with context %}
{% import 'macros/acme_location.j2' as acme_location_macro %}

{% if item.redirect_www is defined and item.redirect_www %}
server {
    listen 80;
    listen 443 ssl http2;

    server_name www.{{ item.name }};

    {{ server_macro.ssl_block(item.name, nginx_ssl_config)|indent(4) }}

    error_log /var/log/nginx/{{ item.name }}.log;

    include snippets/error_pages.conf;

    return 301 https://{{ item.name }}$request_uri;
}
{% endif %}

server {
    server_name {{ item.name }};

    error_log /var/log/nginx/{{ item.name }}.log;

    include snippets/error_pages.conf;

    {{ acme_location_macro.acme_location()|indent(4) }}

    {% if item.plain_http is defined %}
    {{ server_macro.auth(item.plain_http)|indent(4) }}

    {{ server_macro.locations(item.plain_http)|indent(4) }}
    {% else %}
    return 301 https://{{ item.name }}$request_uri;
    {% endif %}
}

server {
    {% if item.default_server is defined and item.default_server %}
    listen       443 ssl http2 default_server;
    {% else %}
    listen       443 ssl http2;
    {% endif %}
    server_name  {{ item.name }};

    {{ server_macro.ssl_block(item.name, nginx_ssl_config)|indent(4) }}

    error_log /var/log/nginx/{{ item.name }}.log;

    include snippets/error_pages.conf;

    {{ server_macro.auth(item)|indent(4) }}

    {{ acme_location_macro.acme_location()|indent(4) }}

    {{ server_macro.locations(item)|indent(4) }}
}
