{{ ansible_managed | comment(decoration="# ") }}

{% import 'macros/acme_location.j2' as acme_location_macro %}

{% if item.item.redirect_www is defined and item.item.redirect_www %}
server {
    server_name www.{{ item.item.name }};

    error_log /var/log/nginx/{{ item.item.name }}.log;

    include snippets/error_pages.conf;

    return 301 http://{{ item.item.name }}$request_uri;
}
{% endif %}

server {
    server_name {{ item.item.name }};

    error_log /var/log/nginx/{{ item.item.name }}.log;
    include snippets/error_pages.conf;
    
    root /var/www/html;

    {{ acme_location_macro.acme_location() }}

    index index.nginx-debian.html;
}
